$color: #0000ff;
ol{font-size: 14px;
  color: $color;
}
div{
  font-size: 18px;
  p {font-family: fantasy;}

    }
  %message {font-size: 12px;
      color: black;
      list-style-type: square;
    }
    ul {@extend %message;
    background-color: #e6e6ff
  }
